* {
    padding: 0;
}

body {
    background-color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;

    & .inicial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        width: 60%;
        height: 100dvh;
    }
    
    & #conteudo {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    
        & .agenda-item {
            background-color: rgb(153, 153, 153);
            padding: 10;
            width: 400px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content:space-between;
            margin-bottom: 5px;
            border-radius: 10px;
        }

        & div {
            margin-left: 10px;
            
            & h3 {
                font-size: 25px;
                margin-bottom: -15px;
            }
        
            & .paragrafo {
                color: rgb(37, 37, 37);
            }
        }
        
        & .data {
            margin-right: 10px;
        }   
    }
    
    & .botoes {
        & input {
            background-color: aliceblue;
            width: 150px;
            height: 50px;
            border: 2px solid black;
            font-size: 15px;
            cursor: pointer;
        }
        
    }
}

.botoesClick:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
    box-shadow: 0px 0px 10px black;
}


body .bodyAgenda {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100dvh;
}
